@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #1fb1df;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
}
.navbar a:hover {
  color: #1fb1df;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.blogPreview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blogPreview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blogPreview h2 {
  font-size: 20px;
  color: #1fb1df;
  margin-bottom: 8px;
}

.blogPreview a {
  text-decoration: none;
}

.blog-details h1 {
  font-size: 30px;
}

.blog-details h2 {
  font-size: 20px;
  color: #1fb1df;
  margin-bottom: 10px;
}

.blog-details div {
  margin: 20px 0;
}

.blog-details button {
  background: #1fb1df;
  color: #f2f2f2;
  border: 0;
  padding: 0;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */
.create-blog {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create-blog label {
  text-align: left;
  display: block;
}

.create-blog h1 {
  font-size: 60px;
  color: #1fb1df;
  margin-bottom: 30px;
}

.create-blog h2 {
  font-size: 20px;
  color: #1fb1df;
  margin-bottom: 30px;
}
.create-blog input, .create-blog textarea, .create-blog select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create-blog button {
  background: #1fb1df;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #258dc9;
  border-right: 1px solid #ccc;
  overflow-y: auto;
}

.sidebar img {
  display: block;
  margin: 20px auto;
  width: 90%;
  height: auto;
}

.sidebar a {
  text-decoration: none;
  text-align: center;
  color: #333333;
  font-weight: bold;
  background-color: #f2f2f2;
  border-radius: 8px;
  margin-left:15px;
  margin-right:15px;
  height: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.sidebar a:hover{
  color: #1fb1df;
}

.music-list-button {
  padding: 22px 16px;
  margin: 20px 0;
}
.music-preview {
  padding: 6px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  display: flex;
  align-items: center;
  position: relative;
}
.music-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.music-preview h2 {
  font-size: 40px;
  color: #258dc9;
  margin-bottom: 8px;
}

.music-preview a {
  text-decoration: none;
}

.music-preview img {
  max-width: 100%;
  max-height: 100%;
  margin-right: 5px;
  border: 2px solid #1fb1df;
  border-radius: 15px;
}

.music-details img {
  border: 2px solid #1fb1df;
  border-radius: 15px;
}
.audio-controls {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 5px;
}

.audio-controls .play svg,
.audio-controls .pause svg {
  height: 40px;
  width: 100px;
}


.music-player-song-cover {
  height: 300px;
  width: 300px;
  display: flex;
}
.music-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.music-player h2 {
  text-align: left;
  white-space: nowrap;
  margin-left: 0px;
}

.about-section {
  position: fixed;
  top: 160px;
  right: 0;
  width: 350px;
  height: 50%;
  overflow-y: auto;
  border: 2px solid #141515;
  margin-right: 20px;
  background: #4fd0f6;
  margin-bottom: 10px;
  border-radius: 15px;
}
.about-section h3 {
  margin-left: 5px;
  margin-top: 10px;
}
.about-section p {
  margin-left: 20px;
  margin-right: 20px;
}

.upload-song {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  overflow: auto;
}
.upload-song label {
  text-align: left;
  display: block;
}

.upload-song h1 {
  font-size: 60px;
  color: #1fb1df;
  margin-bottom: 30px;
}

.upload-song h2 {
  font-size: 20px;
  color: #1fb1df;
  margin-bottom: 30px;
}
.upload-song input, .upload-song textarea, .upload-song select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.upload-song button {
  background: #1fb1df;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.drop-song {
  overflow: auto;
}

.upload-song img {
  width: 300px;
  float: right;
  margin-right: 20px;
  margin-left: 20px;
  height: 300px;
  border: 2px solid #1fb1df;
  border-radius: 15px;
}

.time {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.timeline {
  width: 100%;
  margin-top: 10px;
  justify-content: center;
}

.song-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: flex-end;
}



